@model HelpViewModel
@{ ViewData["Title"] = Model.PageTitle; } 
@{ ViewData["Description"] = Model.PageDescription; }

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    @if (Model.PageContent != null)
    {
        <h1 class="govuk-heading-xl">@Model.PageContent.Title</h1>
        
        @if (!string.IsNullOrEmpty(Model.PageContent.MetaDescription))
        {
            <p class="govuk-body-l">@Model.PageContent.MetaDescription</p>
        }
        
      
        @if (!string.IsNullOrEmpty(Model.ProcessedBody))
        {
            <div>
                @Html.Raw(Model.ProcessedBody)
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.PageContent?.Body))
        {
            <div>
                <p class="govuk-body"><strong>Fallback - showing raw markdown:</strong></p>
                <pre>@Model.PageContent.Body</pre>
            </div>
        }
    }
    else
    {
        <h1 class="govuk-heading-xl">Help and support</h1>
        <p class="govuk-body-l">Get help using the FIPS system</p>
        
        <div class="govuk-body">
            <h2 class="govuk-heading-m">Getting started</h2>
            <p>If you're new to FIPS, here are some ways to get help:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="/about" class="govuk-link">Learn about this service</a></li>
                <li><a href="/contact" class="govuk-link">Contact us directly</a></li>
                <li>Browse the product listings to understand what's available</li>
            </ul>
            
            <h2 class="govuk-heading-m">Common questions</h2>
            <p>Here are answers to some frequently asked questions:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><strong>How do I find products?</strong> Use the search function or browse by category</li>
                <li><strong>How do I update product information?</strong> <a href="/updates" class="govuk-link">See our updates page</a></li>
                <li><strong>How do I get access?</strong> <a href="/contact" class="govuk-link">Contact us</a> to request access</li>
            </ul>
        </div>
    }
   
  </div>
  
  <div class="govuk-grid-column-one-third">
    <aside class="govuk-aside" role="complementary">
      @if (!string.IsNullOrEmpty(Model.ProcessedRelatedContent))
      {
        @Html.Raw(Model.ProcessedRelatedContent)
      }
      else
      {
        <h2 class="govuk-heading-m">Get help</h2>
        <p class="govuk-body">If you need help using this service, you can:</p>
        <ul class="govuk-list">
          <li><a href="/contact" class="govuk-link">Contact us</a></li>
          <li><a href="/about" class="govuk-link">Learn about this service</a></li>
          <li><a href="/updates" class="govuk-link">How to update information</a></li>
        </ul>
      }
    </aside>
  </div>
</div>
